#olympique {
    display: flex;
    flex-direction: row;
    flex-flow: unset;
}

#ol1{
    border: 3px solid blue;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
#ol2 {
    border: 3px solid yellow;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
#ol3{
    border: 3px solid black;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
#ol4{
    border: 3px solid green;
    border-radius: 100%;
    height: 30px;
    width: 30px;

}
#ol5{
    border: 3px solid magenta;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}